.card-dtavern .card-header {
  background-color: #230007;
  color: #FFFFFF;
}

.bg-primary {
  background-color: #230007 !important;
  color: #FFFFFF;
}

.card-footer {
  background-color: #FFFFFF;
}

.card-ltavern .card-header {
  background-color: #FDFF00;
  color: #000000;
}

.nav-link.active {
  background-color: #230007 !important;
}

td {
  border: 1px solid #FFFFFF !important;
}